quorum-test-network/.quorumDevQuickstart.lock
quorum-test-network/logs/
quorum-test-network/dapps/pet-shop/pet-shop-box/
SimpleStorage_sol_SimpleStorage.abi
SimpleStorage_sol_SimpleStorage.bin
SimpleStorage.json